<app-toolbar></app-toolbar>
<div class="content">
  <!-- Toolbar Secundario -->
  <mat-toolbar class="options">
    <mat-toolbar-row>
      <mat-form-field>
        <input matInput placeholder="Search" type="text" [(ngModel)]="term" (keydown.enter)="Search()"/>
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>

      <span class="example-spacer"></span>

      <button mat-button [matMenuTriggerFor]="options">
        <mat-icon>settings_applications</mat-icon>
        Mostrar
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #options="matMenu">
        <button mat-menu-item>
          <mat-icon>grid_on</mat-icon>
          <span>Grid</span>
        </button>
        <button mat-menu-item>
          <mat-icon>list</mat-icon>
          <span>Lista</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- Albunes -->
  <div class="container-form">
    <div *ngIf="albumes?.length > 0" class="row">
      <app-album
        #child
        *ngFor="let album of albumes"
        [album]="album"
      ></app-album>
    </div>
    <div *ngIf="albumes?.length === 0" class="row">
      <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile
          [colspan]="4"
          [rowspan]="2"
        >
          No Result Set
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
