/* You can add global styles to this file, and also import other style files */

@import "~ngx-toastr/toastr";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #303030;
}

mat-toolbar-row > span:nth-child(1) {
  max-width: 52px;
  margin-right: 5px;
}

mat-card-content > a > img {
  max-width: 100%;
  min-width: 100%;
  min-height: 310px;
  max-height: 310px;
}

.container-form {
  padding: 2rem;
  background-color: #303030;
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  cursor: pointer;
}

span > img {
  max-width: 100%;
}

.row {
  width: 100%;
}

.options {
  margin-top: 15px;
  background-color: transparent !important;
}

.album {
  max-width: 24.4%;
  min-width: 24.4%;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.container-login {
  margin-top: 10rem;
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

.spinner {
  max-width: 5rem;
  margin-left: auto;
  margin-right: auto;
}

app-album {
  flex-wrap: wrap;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

mat-spinner {
  max-width: 50px;
  max-height: 50px;
}

mat-spinner > svg {
  max-width: 50px !important;
  max-height: 50px !important;
}

.principal-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.content {
  margin-top: 90px;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.col-3 {
  width: 30%;
}

.col-7 {
  width: 70%;
}

.center {
  width: 90%;
  max-height: 450px;
  margin-left: auto;
  margin-right: auto;
}

mat-grid-list {
  width: 100%;
}


.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: auto !important;
}

.mat-list-item-content {
  margin-top: 10px;
  height: 80px !important;
}

.audio-list {
  width: 100%;
}
